useDynLib(QTLRel, .registration = TRUE)

export(aicVC,mAIC,
	blup,estVC,
	scanOne,scanTwo,qtlVar,nullSim,gls,eigen.sym,
	lodci,
	genoProb,genoImpute,genoPos,rem,
	pedRecode,hapSim,genoSim,
	pkolm,qkolm,qqPlot,plotit,plot.scanTwo,
        cic,ibs,kinship,genMatrix)

export(rel2qtl, qtl2rel)

importFrom("gdata", "reorder.factor", "trim")
importFrom("lattice", "xyplot", "panel.xyplot", "panel.abline", "panel.superpose")
importFrom("grDevices", "terrain.colors")
importFrom("graphics", "abline", "axis", "image", "lines", "mtext",
     "par", "plot", "points")
importFrom("stats", "anova", "approx", "contrasts", "formula", ".getXlevels",
     "lm", "lm.fit", "lm.wfit", "logLik", "model.frame", "model.matrix",
     "model.response", "nlm", "nlminb", "optim", "optimHess", "optimize",
     "ppoints", "quantile", "reorder", "rmultinom", "runif",
     "terms", "uniroot", "var")

S3method(aicVC, default)
S3method(blup, aic)
S3method(blup, VC)
S3method(estVC, default)
S3method(genMatrix, cic)
S3method(genMatrix, default)
S3method(genoProb, default)
S3method(plot, scanOne)
S3method(plot, scanTwo)
S3method(print, aic)
S3method(print, VC)
S3method(print, scanOne)
S3method(qqPlot, default)
S3method(scanOne, default)
S3method(scanTwo, default)


